<?xml version="1.0"?>

<model>
  <name>salt_cellar</name>
  <version>1.0</version>
  <sdf version="1.5">salt_cellar.sdf</sdf>

  <author>
    <name>Boglarka Erdodi</name>
    <email>erdodiboglar@gmail.com</email>
  </author>

  <description>
    A salt cellar for popcorn demo.
  </description>
</model>
