<?xml version="1.0"?>

<model>
  <name>stove_table</name>
  <version>1.0</version>
  <sdf version="1.5">stove_table.sdf</sdf>

  <author>
    <name>Boglarka Erdodi</name>
    <email>erdodiboglar@gmail.com</email>
  </author>

  <description>
    A stove table for popcorn demo.
  </description>
</model>
