<?xml version="1.0"?>

<model>
  <name>deep_plate</name>
  <version>1.0</version>
  <sdf version="1.5">deep_plate.sdf</sdf>

  <author>
    <name>Boglarka Erdodi</name>
    <email>erdodiboglar@gmail.com</email>
  </author>

  <description>
    A deep plate for popcorn demo.
  </description>
</model>
